<form class="well" (submit)="addTask($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Task...">
    </div>
</form>


<div class="task-list">
    <table class="table table-bordered">
        <tr *ngFor="let task of tasks">
            <td>
                <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
            </td>
            <td>
                {{task.title}}
            </td>
            <td>
                <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">
            </td>
        </tr>
    </table>
</div>